In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
path = "https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv"

In [4]:
df =  pd.read_csv(path)

In [88]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [11]:
df['Hours'].isna().count()

25

In [10]:
df['Hours'].isna().count()

25

In [38]:
X = df['Hours']
y = df['Scores']

In [53]:
X_train_reshaped =  X.values.reshape(-1,1)
y_train_reshaped =  y.values.reshape(-1,1)

In [15]:
from sklearn.linear_model import LinearRegression

In [20]:
LR =  LinearRegression()

In [55]:
LR.fit(X_train_resahped, y_train_resahped)

LinearRegression()

In [74]:
y_predicted

array([[92.61670034]])

In [91]:
def predict():
  X_test  = input('Enter the Number of Hours.\n')
  X_test = np.array([X_test],ndmin=2,dtype = float)
  y_predicted = LR.predict(X_test)
  print('The predicted Score is',float(y_predicted))
  return 0

In [92]:
predict()

Enter the Number of Hours.
9.25
The predicted Score is 92.61670033840096

0